version: '3'

services:
  db:
    container_name: postgres
    image: postgres
    ports:
      - 5432:5432
    volumes:
      - ./db:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: dbuser
      POSTGRES_PASSWORD: dbpassword
