service: backend-training-2023

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs16.x

  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - "Fn::GetAtt": [recipes, Arn]

functions:
  recipes:
    handler: dist/recipes.list
    events:
      - http: 'GET /recipes'
    environment:
      TABLE_NAME: recipes
      AWS_DEFAULT_REGION: us-east-1
      AWS_ENDPOINT_URL: http://localhost:4566
  ingredients:
    handler: dist/ingredients.list
    events:
      - http: 'GET /ingredients'
    name: 'ingredients'
    environment:
      TABLE_NAME: ingredients
      AWS_DEFAULT_REGION: us-east-1
      AWS_ENDPOINT_URL: http://localhost:4566
  directions:
    handler: dist/directions.list
    events:
      - http: 'GET /directions'
    name: 'directions'
    environment:
      TABLE_NAME: directions
      AWS_DEFAULT_REGION: us-east-1
      AWS_ENDPOINT_URL: http://localhost:4566


plugins:
  - serverless-localstack

custom:
  localstack:
    stages:
      - local
    autostart: true

resources:
  Resources:
    recipes:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: recipes
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: N
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    ingredients:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ingredients
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: N
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    directions:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: directions
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: N
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1


